#menu, #menu a:hover {
	text-decoration: none;
}


/* view property page - property.html */

.prop-main {
	width: 80%;
	margin:auto;
}

/* past-transactions.html */

.txn-filters {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 15px;
	padding-bottom: 15px;
}

.txn-ind-filter {
	font-size: 13px;
}

.toggle-grp {
  	background-color: white;
  	display: grid;
 	grid-template-columns: 1fr 1fr;
}

.toggle-grp button {
	background-color: inherit;
	border: none;
  	float: left;
  	cursor: pointer;
  	padding: 10px 10px;
  	transition: 0.3s;
  	font-size: 13px;
  	font-weight: bold;
}

.toggle-grp button:hover {
  	background-color: #E4E6EB;
}

.toggle-grp button.active {
  	background-color: #B0B3BB;
}

.toggle-cont {
	padding: 6px 12px;
  	border: none;
  	border-top: none;
  	overflow: scroll; 
  	max-height: 650px;
	position: relative
}

#txn-table {
	font-size: 12px;
	padding-left: 0px;
}

/* resale prediction component */

#resale-form {
	justify-content: center;
	width: 40%;
	float: left;
}

#price-pred {
	align-content: center;
	padding: 10px;
	width: 50%;
	float: right;
}

.pred-form-input {
	width: 100%;
	padding-top: 15px;
	padding-left: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#est-btn {
	padding-left: 3%;
}

/* Search page */

.search-panel {
	background-color: rgba(95, 158, 160, 0.9);	
	height: 10%;
	padding-top: 3%;
	padding-bottom:3%;
}

.search-form {
	width: 40%;
	margin: auto;
}

#search-dropdown {
	padding-left: 1%;
	padding-right: 1%;
	display: flex;
    justify-content: space-between;
}

.search-labels{
	font-weight: bold;
	color:white;
}

.search-filters {
	float: left;
	width: 20%;
	padding-top: 5%;
}

.search-list {
	width: 80%;
	float: right;
}


.search-results-div {
	width: 80%;
	margin: auto;
	margin-top: 3%;
}

.search-results-div h4 {
	padding-bottom: 1%;
	color: #008385;
}

.search-results-div h6 {
	padding-left: 6%;
	padding-bottom: 1%;
	padding-top: 5%;
	color: #008385;
}

#search-tbl {
	width: 100%;
}

#search-tbl p {
	padding-top: 0px;
}

.search-list a {
	text-decoration: none;
	color: black;
}

.search-list a:hover {
  	color: black;
  	text-decoration: none;
  	cursor: pointer;
}

/* login.html */

.login-main{
	padding-top: 50px;
	padding-left: 300px;
	padding-right: 300px;
}

/* home loan calculator - homeloan_calc.html */

.loan-form {
	left: 0;
	width: 40%;
	float: left;
}

.homeloan-calc-div {
	padding-bottom: 50px;
}

.homeloan-calc-div h4{
	padding-bottom: 1%;
}

#loan-button {
	width: 100%
}

.loan-result {
	width: 50%;
	float: right;
}

#loan-canvas {
	max-height: 250px;
}

.donut-text-div {
	text-align: center;
}

#donut-text {
	font-weight: bold;
	font-size: 15px;
}

/* new project list - newproj_list.html */

.new-proj-list {
	width: 80%;
	margin: auto;
	margin-top: 3%;
}

