/* view property page - property.html */
.prop-main {
	width: 80%;
	margin:auto;
}

/* past-transactions.html */
.transactions {
	width: 80%;
	margin:auto;
}

.txn-filters {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 15px;
	padding-bottom: 15px;
}

.txn-ind-filter {
	font-size: 13px;
}

.toggle-grp {
  	background-color: white;
  	display: grid;
 	grid-template-columns: 1fr 1fr;
}

.toggle-grp button {
	background-color: inherit;
	border: none;
  	float: left;
  	cursor: pointer;
  	padding: 10px 10px;
  	transition: 0.3s;
  	font-size: 13px;
  	font-weight: bold;
}

.toggle-grp button:hover {
  	background-color: #E4E6EB;
}

.toggle-grp button.active {
  	background-color: #B0B3BB;
}

.toggle-cont {
	padding: 6px 12px;
  	border: none;
  	border-top: none;
  	overflow: scroll; 
  	max-height: 600px;
	position: relative
}

#txn-table {
	font-size: 12px;
}

