<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Property Market Indicator</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/93e747320c.js" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/transactions.js}"></script>
	<script type="text/javascript" th:src="@{/js/prediction.js}"></script>
	<script type="text/javascript" th:src="@{/js/mortgageCalculator.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<div th:replace="navbar.html :: menu"/>
	<div class="prop-main">
	
		<!-- key information component -->
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div class="key-info" th:replace="/project" />
			</div>
		</div>
		
		<!-- Past transactions' component -->
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div class="past-txn" th:replace="/past_transactions" />
			</div>
		</div>
		
		<!-- Resale prediction component -->
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
		    	<div class="resale-predictions" th:replace="/resale_prediction" />	
			</div>
		</div>
		
		<!-- Home loan calculator component -->
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
		    	<div class="homeloan-calc" th:replace="/homeloan_calc" />
			</div>
		</div>
	</div>
</body>

</html>