<body>
	<div class="rec-div">
		<div class="accordion">
  			<div class="accordion-item">
    		<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pop_prop">
			  		Popular Properties
			  	</button>
    		</h2>
 			<div id="pop_prop" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      			<div class="accordion-body">
        			<div class="card-body">
						<div id="rec-popular" class="card shadow-sm p-3 mb-5 bg-white rounded">
						    <div class="card" th:each = "rec : ${popularProp}">
						        <a th:href="${'/project/viewProperty/' + {rec.projectId}}">
						        <h5 class="card-header" th:text="${rec.name}">Project Name</h5>					
						        <div class="card-body">
						            <h6 class="card-title" th:text="${rec.street}">Street</h6>
						            <p class="card-text" th:text="'Type: ' + ${rec.type}">Type</p>
						            <p class="card-text" th:text="'Segment: ' + ${rec.segment}">Segment</p>
						            <p class="card-text" th:text="'District: ' + ${rec.district}">District</p>			
						        </div>
						        </a>
						    </div>
						</div>		      
				 	</div>
      			</div>
    		</div>
  			</div>
	  		<div class="accordion-item">
				<h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#recent_txn">
				  		Recently Transacted
				  	</button>
	    		</h2>
				<div id="recent_txn" class="accordion-collapse collapse" aria-labelledby="headingTwo">
	      			<div class="accordion-body">
						<div class="card-body">
							<div id="rec-recent" class="card shadow-sm p-3 mb-5 bg-white rounded">
							    <div class="card" th:each = "rec : ${recentProp}">
							        <a th:href="${'/project/viewProperty/' + {rec.projectId}}">
							        <h5 class="card-header" th:text="${rec.name}">Project Name</h5>					
							        <div class="card-body">
							            <h6 class="card-title" th:text="${rec.street}">Street</h6>
							            <p class="card-text" th:text="'Type: ' + ${rec.type}">Type</p>
							            <p class="card-text" th:text="'Segment: ' + ${rec.segment}">Segment</p>
							            <p class="card-text" th:text="'District: ' + ${rec.district}">District</p>			
							        </div>
							        </a>
							    </div>
							</div>		      
						</div>       
	      			</div>
				</div>
	  		</div>
	  		<div class="accordion-item" th:if="${session.userObj != null}">
				<h2 class="accordion-header" id="headingThree">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#user_rec">
				  		Recommended For You
				  	</button>
				</h2>    
	    		<div id="user_rec" class="accordion-collapse collapse" aria-labelledby="headingThree">
	      			<div class="accordion-body">
	        			<div class="card-body">
							<div id="rec-user" class="card shadow-sm p-3 mb-5 bg-white rounded" >
							    <div class="card" th:each = "rec : ${userRec}">
							    <a th:href="${'/project/viewProperty/' + {rec.projectId}}">
							        <h5 class="card-header" th:text="${rec.name}">Project Name</h5>					
							        <div class="card-body">
							            <h6 class="card-title" th:text="${rec.street}">Street</h6>
							            <p class="card-text" th:text="'Type: ' + ${rec.type}">Type</p>
							            <p class="card-text" th:text="'Segment: ' + ${rec.segment}">Segment</p>
							            <p class="card-text" th:text="'District: ' + ${rec.district}">District</p>			
							        </div>
							    </a>
							</div>		        	
			      		</div>
	      			</div>
	    			</div>
	  			</div>
			</div>	
		</div >
	</div>
</body>