

<!DOCTYPE html>
<html>

<head>
	<title class="text-muted">Comparison Results</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/93e747320c.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="text/javascript" th:src="@{/js/compare.js}"></script>
</head>

<body>
	<div th:replace="navbar.html :: menu" />
	<div class"container" style="margin-left:200px;margin-right:200px">
		<h1 class="text-muted" style="text-align:center;margin-top:70px;margin-bottom:70px">Comparison Results</h1>

		<div class="row" style="display:flex;justify-content:space-between">
			<div class="col-xs-3">
				<h4 class="card-title font-weight-normal"><i class="fa-solid fa-house" style="color: cadetblue"></i>
					Project: </h4>
				<h4 th:text="${project1.name}" style="width:380px"><span>THE COAST AT SENTOSA COVE SINGAPORE</span></h4>
				<h5 class="text-muted mb-5" th:text="${project1.street}">OCEAN DRIVE</h5>

				<div class="mb-2 mt-2" style="font-size:18px"><b class="pr-3">Average Price: </b><span
						th:text="${project1.averagePrice}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Tenure (years): </b><span
						th:text="${#strings.listJoin(project1.tenureYears, ', ')}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Floor Range: </b> <span
						th:text="${project1.floorRange}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Area: </b><span
						th:text="${project1.area}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Top Years: </b><span
						th:text="${#strings.listJoin(project1.TOPYears, ', ')}"></span></div>

				<img class="rounded mx-auto d-block mt-5 mb-5" style="width:95%;" th:if="${project1.mapExist}"
					th:src="${project1.map}" />
				<img class="rounded mx-auto d-block mt-5 mb-5" style="width:95%;" th:unless="${project1.mapExist}"
					th:src="@{/images/unknown.png}" />
					
				<h5 class="text-muted mb-3" style="text-align:center">PRICE TREND</h5>
				<div style="width:95%;height:350px">
					<canvas id="price-trend1"></canvas>
				</div>
				<script th:inline="javascript">
					var labels1 = /*[[${project1.dates}]]*/[];
					var datapoints1 = /*[[${project1.prices}]]*/[];
				</script>
				<script >
					getPriceTrendChart1();
				</script>
			</div>
			
			<div class="col-xs-3">
				<h4 class="card-title font-weight-normal"><i class="fa-solid fa-house" style="color: cadetblue"></i>
					Project: </h4>
				<h4 th:text="${project2.name}" style="width:380px"><span>THE COAST AT SENTOSA COVE SINGAPORE</span></h4>
				<h5 class="text-muted mb-5" th:text="${project2.street}">OCEAN DRIVE</h5>

				<div class="mb-2 mt-2" style="font-size:18px"><b class="pr-3">Average Price: </b><span
						th:text="${project2.averagePrice}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Tenure (years): </b><span
						th:text="${#strings.listJoin(project2.tenureYears, ', ')}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Floor Range: </b> <span
						th:text="${project2.floorRange}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Area: </b><span
						th:text="${project2.area}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Top Years: </b><span
						th:text="${#strings.listJoin(project1.TOPYears, ', ')}"></span></div>

				<img class="rounded mx-auto d-block mt-5 mb-5" style="width:95%;" th:if="${project2.mapExist}"
					th:src="${project2.map}" />
				<img class="rounded mx-auto d-block mt-5 mb-5" style="width:95%;" th:unless="${project2.mapExist}"
					th:src="@{/images/unknown.png}" />

				<h5 class="text-muted mb-3" style="text-align:center">PRICE TREND</h5>
				<div style="width:95%;height:350px">
					<canvas id="price-trend2"></canvas>
				</div>
				<script th:inline="javascript">
					var labels2 = /*[[${project2.dates}]]*/[];
					var datapoints2 = /*[[${project2.prices}]]*/[];
				</script>
				<script >
					getPriceTrendChart2();
				</script>
			</div>
			
			<div class="col-xs-3">
				<h4 class="card-title font-weight-normal"><i class="fa-solid fa-house" style="color: cadetblue"></i>
					Project: </h4>
				<h4 th:text="${project3.name}" style="width:380px"><span>THE COAST AT SENTOSA COVE SINGAPORE</span></h4>
				<h5 class="text-muted mb-5" th:text="${project3.street}">OCEAN DRIVE</h5>

				<div class="mb-2 mt-2" style="font-size:18px"><b class="pr-3">Average Price: </b><span
						th:text="${project3.averagePrice}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Tenure (years): </b><span
						th:text="${#strings.listJoin(project3.tenureYears, ', ')}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Floor Range: </b> <span
						th:text="${project3.floorRange}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Area: </b><span
						th:text="${project3.area}"></span></div>
				<div class="mb-2" style="font-size:18px"><b class="pr-3">Top Years: </b><span
						th:text="${#strings.listJoin(project3.TOPYears, ', ')}"></span></div>

				<img class="rounded mx-auto d-block mt-5 mb-5" style="width:95%;" th:if="${project3.mapExist}"
					th:src="${project3.map}" />
				<img class="rounded mx-auto d-block mt-5 mb-5" style="width:95%;" th:unless="${project3.mapExist}"
					th:src="@{/images/unknown.png}" />

				<h5 class="text-muted mb-3" style="text-align:center">PRICE TREND</h5>
				<div style="width:95%;height:350px">
					<canvas id="price-trend3"></canvas>
				</div>
				<script th:inline="javascript">
					var labels3 = /*[[${project3.dates}]]*/[];
					var datapoints3 = /*[[${project3.prices}]]*/[];
				</script>
				<script >
					getPriceTrendChart3();
				</script>
			</div>
		</div>
		<div style="margin-bottom: 100px;"></div>
	</div>
</body>

</html>